
  <div class="listing-account list-content">
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>
    <%- include("../components/ui/ejs/accgame.ejs") %>

  </div>
  
  <div class="listing-account list-content">
    <%- include("../components/ui/ejs/toolgame.ejs") %>

  </div>

