<div class="item-account">
  <div class="card card-hover h-100">
    <a
      href="/dich-vu/hack-game/xem-chi-tiet/<%= id %>"

      class="card-body scale-thumb"

    >
      <div class="account-thumb c-mb-8 position-realative">
        <img
          src="<%= image %>"
          
          class="account-thumb-image lazy"
          onerror="imgError(this)"
          loading="lazy"
        />
      </div>
      <div class="account-title">
        <div class="text-title fw-700 text-limit limit-1">
          <%= name %>
        </div>
      </div>
      <div class="price">
        <div class="price-current w-100 format-number"><%= price %> VNĐ</div>

        <div class="discount"><%= category_name %></div>
      </div>
      <div class="price c-pt-12 c-pt-lg-8">
        <button
          type="button"
          class="w-100 btn primary buyacc"
    
        >
          Xem chi tiết
        </button>
      </div>
    </a>
  </div>
</div>
